@charset "utf-8";
/* CSS Document */
.contenedor-tabla{
display: table;   
}
.contenedor-fila{
display: table-row;
height: 20px;
}
.contenedor-fila2{
display: table-row;
height: 20px;
font-size: 20px;
}
.contenedor-fila3{
display: table-row;
height: 20px;
font-size: 15px;

}
.contenedor-columna{
display: table-cell;
width: 300px;
padding:0px 13px 5px 13px;
}
.contenedor-columna2{
display: table-cell;
width: 30px;
padding:0px 13px 5px 13px;
}
.contenedor-columna3{
display: table-cell;
width: 170px;
padding:0px 8px 4px 8px;
}
#alinDer{
	text-align:right;
	}
#alinIzq{
	text-align:left;
	}
